In [ ]:
State -City- Income
Delhi -Delhi- 10000
Maharashtra -Mumbai- 15000
Karnataka -Mysore- 20000
Delhi -Delhi- 18000
Karnataka -Bangalore 12000
Maharashtra -Pune- 20000

In [7]:
import pandas as pd
data = [['Delhi','Delhi', 10000],['Maharashtra','Mumbai', 15000], ['Karnataka','Mysore', 20000], ['Delhi','Delhi', 18000], ['Karnataka','Bangalore', 12000], ['Maharashtra','Pune', 20000]]
df = pd.DataFrame(data, columns=['State', 'City', 'Income'])
df.head()

         State       City  Income
0        Delhi      Delhi   10000
1  Maharashtra     Mumbai   15000
2    Karnataka     Mysore   20000
3        Delhi      Delhi   18000
4    Karnataka  Bangalore   12000

In [16]:
df_1= df.groupby("State").mean()

df_1= df_1.reset_index()
df_1.head()
df_1[df_1["Income"] == df_1["Income"].max()]["State"]

2    Maharashtra
Name: State, dtype: object