In [5]:
def num_dig(dig):
    counter = 0
    dig=str(dig)
    if dig[0] == "-":
        dig = dig[1:]
    for i in dig:
        counter += 1
    print(counter)
    
num_dig(-2344)

4

In [17]:
# import Counter 

str1 = """If you are not located in the United States, you’ll
have to check the laws of the country where you are located before using of the country"""

dic ={}
list1 = []

for i in str1.split(" "):
    if i in dic:
        dic[i]+= 1
    else:
        dic[i] =1
        
print(dic)

{'If': 1, 'you': 2, 'are': 2, 'not': 1, 'located': 2, 'in': 1, 'the': 4, 'United': 1, 'States,': 1, 'you’ll\nhave': 1, 'to': 1, 'check': 1, 'laws': 1, 'of': 2, 'country': 2, 'where': 1, 'before': 1, 'using': 1}

In [15]:
print(str1.split(" "))

['If', 'you', 'are', 'not', 'located', 'in', 'the', 'United', 'States,', 'you’ll\nhave', 'to', 'check', 'the', 'laws', 'of', 'the', 'country', 'where', 'you', 'are', 'located', 'before', 'using', 'of', 'the', 'country']

In [ ]:
Transaction Table

Transaction ID

Account ID

Transaction Date

Amount

-----------------------------
Account Table

Account ID

Account Name 

Branch ID
-------------------------------------------
Branch Table

Branch ID

Branch Name

CITY

IFSC CODE

Manager


In each city , find the branch name which had maximum transactions

In [ ]:
select city, branch, dense_rank(over transaction order by transaction_id group by city, branch_name) as a from (select * from Transaction_tbl as ttbl inner join account_tbl atbl on ttbl.account_id = atbl.account_id) as tatbl
inner join branch_tbl as btbl on tatbl.branch_id = btbl.branch_id where a = 1

In [ ]:
select * from table_name where salary < (select count(distinct(salary) from table_name) order by salary desc limit 1

In [78]:
def num(n):
    result = []
    if n == 0:
        return 0
    if n ==1 or n== 2:
        return 1
    return num(n-1) + num(n-2)

def test(n):
    for i in range(0,n):
        res.append(num(i))
    return res

print(test(9))

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [83]:
lis = [0,1,1,2,3,5,8,13,21]

def num(n):
    result = []
    if n< len(lis):
        return lis[n-1]
    else:
        temp = int(num(n-1)) + int(num(n-2))
        lis.append(temp)
        return temp
print(num(11))

55

In [86]:
list_ = ["A", "B", "G", "A", "G", "C", "C"]

def freq_count(list_):
    dic = {}
    
    for i in list_:
        if i not in dic:
            dic[i] = 1
        else:
            dic[i] += 1
    return dic

print(freq_count(list_))

{'A': 2, 'B': 1, 'G': 2, 'C': 2}

In [107]:
def fibonacci(n):
    sequence = [0,1]
    for i in range(2,n+1):
        next_num = sequence[-1] + sequence[-2]
        sequence.append(next_num)
    return sequence

sequence = fibonacci(10)
print(sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [118]:
A = "this apple is sweet"
B = "this apple is sour"
    
def uncommon_words(A,B):
    dic = {}
    
    for word in A.split(' '):
        if word not in dic:
            dic[word] =0
        dic[word] += 1
        
    for word in B.split(' '):
        if word not in dic:
              dic[word] =0
        dic[word] += 1
    
    res = []
    
    for key, value in dic.items():
        if value == 1:
            res.append(key)
    return res, dic

print(uncommon_words(A,B))

(['sweet', 'sour'], {'this': 2, 'apple': 2, 'is': 2, 'sweet': 1, 'sour': 1})

In [127]:
def isValid(s):
    dic = {'(':')','[':']','{':'}'}
    st = []
    for i in s:
        if i in "({[":
            st.append(i) 
        elif len(st) == 0 or i != dic[st.pop()]:
            return False
    return True
        
print(isValid("{([])}"))

True

In [ ]:
class Solution:
   def isValid( self, sequence ):
       '''
       Function to check if sequence contains valid parenthesis
       :param sequence: Sequence of brackets
       :return: True is sequence is valid else False
       '''
       # Replace the proper pairs until sequence becomes empty or no pairs are present
       while True:
           if '()' in sequence :
               sequence = sequence.replace ( '()' , '' )
           elif '{}' in sequence :
               sequence = sequence.replace ( '{}' , '' )
           elif '[]' in sequence :
               sequence = sequence.replace ( '[]' , '' )
           else :
               return not sequence

if __name__ == '__main__':
   sequence = '{[()]}'
   print(f'Is {sequence} valid ? : {Solution().isValid(sequence)}')
   sequence1 = '{[()]}{]{}}'
   print(f'Is {sequence1} valid ? : {Solution().isValid (sequence1)}')
Output
Is {[()]} valid ? : True
Is {[()]}{]{}} valid ? : False

In [ ]:
https://favtutor.com/blogs/valid-parentheses

In [ ]:
Dataframe with 3 columns: State, City, Population

Can you write a code in python to identify cities with population higher than State average

In [129]:
import pandas ad pd
df[['Cities','Population']] = df[df['Population'] > df['State']]

df_cities_avg = df.groupby('State')['Population'].mean().reset_index()

for i in df():
    if i.state == df_cities_avg['state'] and i.population > df_cities_avg['Population']:
        print(i.cities)

In [ ]:
s1 c1 p1
Up Kanpur 10000
Up Agra   8000
MP Bhopal  11000
MP Indore 9000
HR Gurgaoun 6000

In [144]:
# X
# X X
# X X X 
# X X X X

for i in range(4,0,-1):
    res = i*'x'
    print(res)

xxxx
xxx
xx
x

In [155]:
num = 123
rev = 0
while num >0:
    a = num%10
    rev = rev*10 +a
    num = num //10

print(rev)

321

In [24]:
Input = "babad"
Output = "bab"
# Explanation: "aba" is also a valid answer.


def max_sub_palindrom(input_str):
    temp = ''
    lis = []
    counter =0
    for i in input_str:
        temp = temp + i
        if temp == temp[::-1]:
            lis.append(temp)
        else:
            temp1 = temp[counter:] 
            if temp1 == temp1[::-1]:
                lis.append(temp1)
            counter += 1
    print(lis)
    max_palindrom = max(lis, key= len)
    return max_palindrom  

print(max_sub_palindrom("babad"))
print(max_sub_palindrom("Geeks"))
# print(max_sub_palindrom("forgeeksskeegfor"))

['b', 'a', 'bab', 'a', 'd']
bab
['G', 'e', 'e', 'k', 's']
G
['f', 'o', 'r', 'g', 'e', 'e', 'k', 's', 's', 'k', 'e', 'e', 'g', 'f', 'o', 'r']
f

In [19]:
te = "Rimanshu"

for i in range(1,len(te),2):
    te.replace
    print(te)

TypeError: 'str' object does not support item assignment

In [25]:
import pandas as pd

df = pd.read_csv(r"C:\Users\riman\Downloads\data\cardio_base.csv")
df.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [33]:
avg = df['weight'].mean()

In [27]:
df['weight'].min()

10.0

In [47]:
df.sort_values('weight').head(40000) # 18804

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
57858  82567  18804       2     165    10.0    180   1100            2      0
33817  48318  21582       2     178    11.0    130     90            1      0
60188  85931  21855       1     162    21.0    120     80            2      0
29488  42156  20408       2     177    22.0    120     80            1      1
26806  38312  23284       1     157    23.0    110     80            1      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
24974  35676  17033       2     169    75.0    140    100            1      0
24973  35673  23356       1     151    75.0    160     90            1      0
51687  73707  18826       2     169    75.0    120     80            1      1
24967  35664  17634       1     163    75.0    120     80            2      0
1041    1448  21223       1     172    75.0    120     80            1      0

[40000 rows x 9 columns]