In [5]:
def num_dig(dig):
    counter = 0
    dig=str(dig)
    if dig[0] == "-":
        dig = dig[1:]
    for i in dig:
        counter += 1
    print(counter)
    
num_dig(-2344)

4

In [17]:
# import Counter 

str1 = """If you are not located in the United States, you’ll
have to check the laws of the country where you are located before using of the country"""

dic ={}
list1 = []

for i in str1.split(" "):
    if i in dic:
        dic[i]+= 1
    else:
        dic[i] =1
        
print(dic)

{'If': 1, 'you': 2, 'are': 2, 'not': 1, 'located': 2, 'in': 1, 'the': 4, 'United': 1, 'States,': 1, 'you’ll\nhave': 1, 'to': 1, 'check': 1, 'laws': 1, 'of': 2, 'country': 2, 'where': 1, 'before': 1, 'using': 1}

In [15]:
print(str1.split(" "))

['If', 'you', 'are', 'not', 'located', 'in', 'the', 'United', 'States,', 'you’ll\nhave', 'to', 'check', 'the', 'laws', 'of', 'the', 'country', 'where', 'you', 'are', 'located', 'before', 'using', 'of', 'the', 'country']

In [ ]:
Transaction Table

Transaction ID

Account ID

Transaction Date

Amount

-----------------------------
Account Table

Account ID

Account Name 

Branch ID
-------------------------------------------
Branch Table

Branch ID

Branch Name

CITY

IFSC CODE

Manager


In each city , find the branch name which had maximum transactions

In [ ]:
select city, branch, dense_rank(over transaction order by transaction_id group by city, branch_name) as a from (select * from Transaction_tbl as ttbl inner join account_tbl atbl on ttbl.account_id = atbl.account_id) as tatbl
inner join branch_tbl as btbl on tatbl.branch_id = btbl.branch_id where a = 1

In [ ]:
select * from table_name where salary < (select count(distinct(salary) from table_name) order by salary desc limit 1

In [78]:
def num(n):
    result = []
    if n == 0:
        return 0
    if n ==1 or n== 2:
        return 1
    return num(n-1) + num(n-2)

def test(n):
    for i in range(0,n):
        res.append(num(i))
    return res

print(test(9))

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [83]:
lis = [0,1,1,2,3,5,8,13,21]

def num(n):
    result = []
    if n< len(lis):
        return lis[n-1]
    else:
        temp = int(num(n-1)) + int(num(n-2))
        lis.append(temp)
        return temp
print(num(11))

55

In [86]:
list_ = ["A", "B", "G", "A", "G", "C", "C"]

def freq_count(list_):
    dic = {}
    
    for i in list_:
        if i not in dic:
            dic[i] = 1
        else:
            dic[i] += 1
    return dic

print(freq_count(list_))

{'A': 2, 'B': 1, 'G': 2, 'C': 2}

In [107]:
def fibonacci(n):
    sequence = [0,1]
    for i in range(2,n+1):
        next_num = sequence[-1] + sequence[-2]
        sequence.append(next_num)
    return sequence

sequence = fibonacci(10)
print(sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [118]:
A = "this apple is sweet"
B = "this apple is sour"
    
def uncommon_words(A,B):
    dic = {}
    
    for word in A.split(' '):
        if word not in dic:
            dic[word] =0
        dic[word] += 1
        
    for word in B.split(' '):
        if word not in dic:
              dic[word] =0
        dic[word] += 1
    
    res = []
    
    for key, value in dic.items():
        if value == 1:
            res.append(key)
    return res, dic

print(uncommon_words(A,B))

(['sweet', 'sour'], {'this': 2, 'apple': 2, 'is': 2, 'sweet': 1, 'sour': 1})

In [127]:
def isValid(s):
    dic = {'(':')','[':']','{':'}'}
    st = []
    for i in s:
        if i in "({[":
            st.append(i) 
        elif len(st) == 0 or i != dic[st.pop()]:
            return False
    return True
        
print(isValid("{([])}"))

True

In [ ]:
class Solution:
   def isValid( self, sequence ):
       '''
       Function to check if sequence contains valid parenthesis
       :param sequence: Sequence of brackets
       :return: True is sequence is valid else False
       '''
       # Replace the proper pairs until sequence becomes empty or no pairs are present
       while True:
           if '()' in sequence :
               sequence = sequence.replace ( '()' , '' )
           elif '{}' in sequence :
               sequence = sequence.replace ( '{}' , '' )
           elif '[]' in sequence :
               sequence = sequence.replace ( '[]' , '' )
           else :
               return not sequence

if __name__ == '__main__':
   sequence = '{[()]}'
   print(f'Is {sequence} valid ? : {Solution().isValid(sequence)}')
   sequence1 = '{[()]}{]{}}'
   print(f'Is {sequence1} valid ? : {Solution().isValid (sequence1)}')
Output
Is {[()]} valid ? : True
Is {[()]}{]{}} valid ? : False

In [ ]:
https://favtutor.com/blogs/valid-parentheses

In [ ]:
Dataframe with 3 columns: State, City, Population

Can you write a code in python to identify cities with population higher than State average

In [129]:
import pandas ad pd
df[['Cities','Population']] = df[df['Population'] > df['State']]

df_cities_avg = df.groupby('State')['Population'].mean().reset_index()

for i in df():
    if i.state == df_cities_avg['state'] and i.population > df_cities_avg['Population']:
        print(i.cities)

In [ ]:
s1 c1 p1
Up Kanpur 10000
Up Agra   8000
MP Bhopal  11000
MP Indore 9000
HR Gurgaoun 6000

In [144]:
# X
# X X
# X X X 
# X X X X

for i in range(4,0,-1):
    res = i*'x'
    print(res)

xxxx
xxx
xx
x

In [155]:
num = 123
rev = 0
while num >0:
    a = num%10
    rev = rev*10 +a
    num = num //10

print(rev)

321

In [24]:
Input = "babad"
Output = "bab"
# Explanation: "aba" is also a valid answer.


def max_sub_palindrom(input_str):
    temp = ''
    lis = []
    counter =0
    for i in input_str:
        temp = temp + i
        if temp == temp[::-1]:
            lis.append(temp)
        else:
            temp1 = temp[counter:] 
            if temp1 == temp1[::-1]:
                lis.append(temp1)
            counter += 1
    print(lis)
    max_palindrom = max(lis, key= len)
    return max_palindrom  

print(max_sub_palindrom("babad"))
print(max_sub_palindrom("Geeks"))
# print(max_sub_palindrom("forgeeksskeegfor"))

['b', 'a', 'bab', 'a', 'd']
bab
['G', 'e', 'e', 'k', 's']
G
['f', 'o', 'r', 'g', 'e', 'e', 'k', 's', 's', 'k', 'e', 'e', 'g', 'f', 'o', 'r']
f

In [59]:
V = ['A','E','I','O','U']
S = ['password@123', 'XYZabcd', 'LMN123', 'ZZZZ78910']
I = ["h","e","l","l","o"]

dic = {k:v for v,k in enumerate(V)}

# print(*(dic[k] for k in I))

for i in V:
    if 'A' in 'RIMANSHU':
        print('Success')

Success

In [26]:
import pandas as pd
import numpy as np

data = {'Name':['Tom', 'Tom', 'krish', 'jack','Tom'], 'Age':[20, 21, 19, 18,25]}
 
# Create DataFrame
df = pd.DataFrame(data)
# df.groupby('Name').mean()


i, r = pd.factorize(df.Name)
print(i, r)
j, c = pd.factorize(df.Age)
n, m = len(r), len(c)

b = np.zeros((n, m), dtype=np.int64)

np.add.at(b, (i, j), 1)
pd.Series(c[b.argmax(1)], r)

# John     White
# Tom       Blue
# Jerry    Black

[0 0 1 2 0] Index(['Tom', 'krish', 'jack'], dtype='object')

Tom      20
krish    19
jack     18
dtype: int64

In [447]:
import pandas as pd
df = pd.DataFrame({'A':['a','a','b','b','c','c','c','a','a','b'],'B':[1,9,2,4,7,8,2,1,8,9]})
df

   A  B
0  a  1
1  a  9
2  b  2
3  b  4
4  c  7
5  c  8
6  c  2
7  a  1
8  a  8
9  b  9

In [450]:
import pandas as pd

def local_groupby(A,B):
    
    A_list = list(A)
    B_list = list(B)

    rank_list = zip_list = []
    counter = group_sum = 0
    samp_dict = {}
    
    for i in range(len(A_list)):
        
        # Ranking of elements according to local group logic
        if A_list[i] != A_list[i-1]:
            counter += 1
        rank_list.append(counter)
        
        # Zipping three list to iterate along groups
        zip_list=list(zip(A_list, B_list,rank_list))
        
        # Chekcing two or more consecutive elements falls in same groups if yes, then add values
        if zip_list[i][2] == zip_list[i-1][2] :
            group_sum = zip_list[i][1] + group_sum
            samp_dict[zip_list[i][2]] = group_sum
        else:
            group_sum = 0
            group_sum = zip_list[i][1]
            samp_dict[zip_list[i][2]] = group_sum
    
    # unzipping three list ----> A column, B column, group sum
    zip_list = list(zip(*zip_list))
    del zip_list[1] # deleting B column values
    
    zip_list = zip(list(zip_list[0]),list(zip_list[1]))
    
    # Remove Duplicates according to groups.
    zip_list = list(dict.fromkeys(zip_list))
    
    zip_list = list(zip(*zip_list)) # [('a', 'b', 'c', 'a', 'b'), (1, 2, 3, 4, 5)]

    # Making DataFrame with Local group Sum.
    grouped_df = pd.DataFrame({'A':list(zip_list[0]), 'B':samp_dict.values()})
    return grouped_df


df = pd.DataFrame({'A':['a','a','b','b','c','c','c','a','a','b'],'B':[1,9,2,4,7,8,2,1,8,9]})

local_groupby(df['A'],df['B'])

   A   B
0  a  10
1  b   6
2  c  17
3  a   9
4  b   9

In [392]:
import pandas as pd

# data = {'Name':['jack','jack','Tom','Tom','jack','jack','jack','jack','Tom','abc'], 
#         'Age':[10,20,30,40,50,60,70,80,90,100]}
 
# df = pd.DataFrame(data)
# # df
name_list = list(df['Name'])
age_list = list(df['Age'])


rank_list = []
counter = 0
test = 0
age = 0
dic_sam = {}
for i in range(len(name_list)):
    if name_list[i] == name_list[i-1]:
        counter = counter
    else:
        counter += 1
    rank_list.append(counter)
    
    test=list(zip(name_list, age_list,rank_list))

    print(test[i],'Second ... ', test[i-1])
    if test[i][0] == test[i-1][0] :
        age = test[i][1] + age
        print('Sum is ..', age ,'and i is ', i)
        dic_sam[test[i][2]] = age
        
    else:
        age = 0
        age = test[i][1]
        print('else Sum is ..', age ,'and i is ', i)
        dic_sam[test[i][2]] = age
        
test = list(zip(*test))
del test[1]
test = zip(list(test[0]),list(test[1]))
test = list(dict.fromkeys(test))
test = list(zip(*test))
print(list(dict.fromkeys(test)))

print(dic_sam)


df_1 = pd.DataFrame({'Name':list(test[0]), 'Age':dic_sam.values()})
df_1.head()

('a', 1, 1) Second ...  ('a', 1, 1)
Sum is .. 1 and i is  0
('a', 9, 1) Second ...  ('a', 1, 1)
Sum is .. 10 and i is  1
('b', 2, 2) Second ...  ('a', 9, 1)
else Sum is .. 2 and i is  2
('b', 4, 2) Second ...  ('b', 2, 2)
Sum is .. 6 and i is  3
('c', 7, 3) Second ...  ('b', 4, 2)
else Sum is .. 7 and i is  4
('c', 8, 3) Second ...  ('c', 7, 3)
Sum is .. 15 and i is  5
('c', 2, 3) Second ...  ('c', 8, 3)
Sum is .. 17 and i is  6
('a', 1, 4) Second ...  ('c', 2, 3)
else Sum is .. 1 and i is  7
('a', 8, 4) Second ...  ('a', 1, 4)
Sum is .. 9 and i is  8
('b', 9, 5) Second ...  ('a', 8, 4)
else Sum is .. 9 and i is  9
[('a', 'b', 'c', 'a', 'b'), (1, 2, 3, 4, 5)]
{1: 10, 2: 6, 3: 17, 4: 9, 5: 9}

  Name  Age
0    a   10
1    b    6
2    c   17
3    a    9
4    b    9

In [348]:
test_list = [('jack', 'Tom', 'jack', 'Tom', 'abc'), (1, 2, 3, 4, 5)]
test_dic = {1: 30, 2: 70, 3: 260, 4: 90, 5: 100}

#test_dic.keys() = test_list[0]
print(test_dic.values())

dict_values([30, 70, 260, 90, 100])

In [594]:
import numpy as np
vectors = np.array([[1, 1, 3, 1, 1],
 [1, 3, 1, 3, 4],
 [3, 2, 4, 4, 1],
 [4, 1, 1, 3, 2],
 [2, 3, 2, 4, 4],
 [2, 3, 1, 3, 3],
 [1, 4, 3, 4, 2],
 [2, 4, 2, 3, 3]])

def append_zero(vectors1):
    return np.pad(vectors1,[(0,1),(0,0)],'constant')

def square_vec(vectors1, vectors2):
    return np.square(vectors1 - vectors2)
    
def cube_vec(vectors1, vectors2):
    return np.power((vectors1-vectors2),3)

def dot_vec(vectors1,vectors2):
    return vectors1*vectors2

vectors1 =np.resize(np.pad(vectors,(0,3),'constant'),(8,8))
vectors2 =append_zero(vectors1[1:]) 
vectors3 = np.vstack([vectors1[0:1],append_zero(vectors1[2:])])
vectors4 = np.vstack([vectors1[0:2,],append_zero(vectors1[3:])])
vectors5 = np.vstack([vectors1[0:3,],append_zero(vectors1[4:])])
vectors6 = np.vstack([vectors1[0:4,],append_zero(vectors1[5:])])
vectors7 = np.vstack([vectors1[0:5,],append_zero(vectors1[6:])])
vectors8 = np.vstack([vectors1[0:6,],append_zero(vectors1[7:])])

# print(vectors7.shape, vectors8.shape)

distance_sum = np.sum([(square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
                     (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
                     (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
                     (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
                     (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
                     (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
                     (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
                     (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2)],axis=0)

# sum_sq = (np.square(vectors1 - vectors2) - np.power((vectors1-vectors2),3))/vectors1*vectors2

distance_sum

distance_sum_1 = np.where(np.isnan(distance_sum), 0 ,distance_sum)
distance_sum_1 = np.rint(np.nan_to_num(distance_sum_1, neginf=0) )
print(distance_sum_1)

[[  0.  32. -11.  32.  72.   0.   0.   0.]
 [ 32.   0.  72.   1. -36.   0.   0.   0.]
 [  1.   0. -36.   0.   8.   0.   0.   0.]
 [ -4.  32.   8.   1.  12.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.   0.   0.]
 [  0.   1.  32.   1.   0.   0.   0.   0.]
 [  8.   0.   0.   0.   3.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.   0.   0.]]

<ipython-input-594-1bb768f8ae25>:34: RuntimeWarning: divide by zero encountered in true_divide
  distance_sum = np.sum([(square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:34: RuntimeWarning: invalid value encountered in true_divide
  distance_sum = np.sum([(square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:35: RuntimeWarning: divide by zero encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:35: RuntimeWarning: invalid value encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:36: RuntimeWarning: divide by zero encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:36: RuntimeWarning: invalid value encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:37: RuntimeWarning: divide by zero encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:37: RuntimeWarning: invalid value encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:38: RuntimeWarning: divide by zero encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:38: RuntimeWarning: invalid value encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:39: RuntimeWarning: divide by zero encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:39: RuntimeWarning: invalid value encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:40: RuntimeWarning: divide by zero encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:40: RuntimeWarning: invalid value encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2),
<ipython-input-594-1bb768f8ae25>:41: RuntimeWarning: divide by zero encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2)],axis=0)
<ipython-input-594-1bb768f8ae25>:41: RuntimeWarning: invalid value encountered in true_divide
  (square_vec(vectors1, vectors2) -cube_vec(vectors1, vectors2))/dot_vec(vectors1, vectors2)],axis=0)

In [566]:
np.sum([vectors,vectors], axis=0)

array([[2, 2, 6, 2, 2],
       [2, 6, 2, 6, 8],
       [6, 4, 8, 8, 2],
       [8, 2, 2, 6, 4],
       [4, 6, 4, 8, 8],
       [4, 6, 2, 6, 6],
       [2, 8, 6, 8, 4],
       [4, 8, 4, 6, 6]])

In [486]:
import numpy as np

def pad_along_axis(array: np.ndarray, target_length: int, axis: int = 0) -> np.ndarray:

    pad_size = target_length - array.shape[axis]

    if pad_size <= 0:
        return array

    npad = [(0, 0)] * array.ndim
    npad[axis] = (0, pad_size)

    return np.pad(array, pad_width=npad, mode='constant', constant_values=0)


a = np.identity(5)
b = pad_along_axis(a, 7, axis=0)
print(a, a.shape, b)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]] (5, 5) [[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [522]:
vec1=np.array([1, 1, 3, 1, 1])
vec2=np.array([1, 3, 1, 3, 4])

# finding sum of squares
sum_sq = (np.square(vectors1 - vectors2) - np.power((vectors1-vectors2),3))/vectors1*vectors2
sum_sq

<ipython-input-522-86b48d36a434>:5: RuntimeWarning: invalid value encountered in true_divide
  sum_sq = (np.square(vectors1 - vectors2) - np.power((vectors1-vectors2),3))/vectors1*vectors2

(8, 8)

In [423]:
vec2-vec1

array([ 0,  2, -2,  2,  3])

In [460]:
temps = np.array([17.9, 13. , 27. , 27.6, 19. , 16.6, 27.9, 24.4, 23. , 17.4])
temps[1:-1]
# (temps[:-2] + temps[1:-1] + temps[2:]) / 3

array([13. , 27. , 27.6, 19. , 16.6, 27.9, 24.4, 23. ])

In [464]:
pressure = np.linspace(1000, 100, 25)
temps = np.random.randn(25, 30, 40) * 3 + np.linspace(25, -100, 25).reshape(-1, 1, 1)
print(temps)

[[[  21.23983331   24.15291622   23.87437527 ...   24.62225425
     23.34681902   28.68017487]
  [  25.71552115   26.43506402   26.5986853  ...   24.7470479
     26.17115052   27.35761769]
  [  23.01760338   25.53549381   20.67218355 ...   24.94354388
     28.65745215   29.04807078]
  ...
  [  24.62474339   28.35084068   22.79859741 ...   26.46900129
     24.71867147   26.35547447]
  [  33.39403797   25.79371845   24.55807671 ...   19.31779541
     25.5378063    25.35419629]
  [  23.39919996   25.26878855   31.96645056 ...   26.00778069
     27.59804425   21.67222986]]

 [[  20.01618238   18.52202898   18.77113274 ...   21.52103899
     15.48180064   16.75070661]
  [  16.66102373   16.37980126   19.842635   ...   15.17269385
     18.86397266   21.18291169]
  [  17.88123209   23.58153085   25.38484499 ...   21.28223278
     23.00426903   21.78310392]
  ...
  [  18.6540783    21.92534865   17.9454161  ...   19.89673304
     23.86793665   15.56908926]
  [  22.16827521   18.86437178   24.0768055  ...   17.86848926
     23.80103901   20.190876  ]
  [  18.16968721   25.2306046    17.17253604 ...   18.83316223
     22.92270314   19.10623199]]

 [[  13.30177385   13.22694765   11.68836848 ...   14.21734194
     19.26533107   17.6037693 ]
  [  16.80880878   16.34534008   15.34633667 ...    7.78021337
     13.36135088    9.99619147]
  [  12.79783182   19.06733817   17.96915704 ...    6.97201869
     13.96544392   13.11794779]
  ...
  [  11.26576459   12.28368752   15.08616275 ...   16.6792518
     16.04836348   12.7870697 ]
  [  12.52673065   11.72602855   11.7532399  ...   18.81240115
     11.82024083   12.5884948 ]
  [  14.78253951    8.6738803    13.73497941 ...   12.74541413
     12.4215918    10.9918095 ]]

 ...

 [[ -88.3587184   -90.84354929  -89.62315954 ...  -90.34249431
    -90.13436581  -89.73465889]
  [ -87.09569642  -86.4417442   -86.24032185 ...  -94.23114534
    -93.99378576  -90.9462665 ]
  [ -87.5419985   -94.60918779  -89.12687844 ...  -85.87159959
    -88.59982285  -91.65169578]
  ...
  [ -88.91081901  -89.52071864  -84.75857934 ...  -83.25369788
    -93.15523841  -89.56274665]
  [ -86.35591004  -88.1426115   -84.53005684 ...  -90.46375912
    -91.17569356  -89.43806855]
  [ -91.59290771  -88.62729893  -92.66005634 ...  -88.65070371
    -91.12157963  -93.820519  ]]

 [[ -98.55134329  -92.02845498  -94.68743943 ...  -94.65498016
    -90.00983781  -99.59441403]
  [-100.22154507  -94.87175458  -92.50749606 ...  -90.06862486
    -94.04655318  -94.73413084]
  [ -93.37966251  -96.78038321  -90.79485293 ...  -96.00764519
    -98.39456012  -97.37381204]
  ...
  [ -96.19093264  -93.25355901  -92.63470824 ...  -94.87921886
    -96.19102714  -97.03963225]
  [ -94.85076013  -88.2526504   -94.76986887 ...  -93.51122069
    -91.18838088  -92.32493871]
  [ -91.66043863  -99.56380683  -92.01450923 ...  -88.40005575
    -93.26632963  -97.34338065]]

 [[ -99.87210261  -94.93768652 -100.58916969 ...  -99.18151023
    -96.80963384  -99.24432589]
  [ -99.15986266 -105.114942   -102.21562958 ...  -99.62365472
   -102.05215653 -102.87152547]
  [-101.05637609  -97.22448448 -104.18215655 ...  -99.01974267
   -102.95150884  -94.50714964]
  ...
  [-108.13709427  -98.93801129 -103.62294499 ...  -96.9956508
   -101.86587967 -100.85254973]
  [ -96.85519017 -101.82518537 -106.16261708 ... -101.68862015
    -97.75324525  -99.57974072]
  [ -99.84267452 -100.76149601 -100.57454552 ... -100.18517135
    -98.48029647  -97.13864826]]]

In [601]:
import xgboost 
xgboost.__version__

'0.90'

In [602]:
import pandas as pd

df_data = pd.read_csv(r"C:\Users\riman\Git\data.csv")
df_data.head()

,sap_stp,CLUSTER,Brand_ID,pack_size,pack_type,year,month,regional_group,value,volume
0,308802,Low_Income,Brand_7,500ML,CAN,2019,12,Retailer 1,435447.0,18932.47826
1,314563,Low_Mid_Income,Brand_7,500ML,CAN,2018,12,Retailer 1,373385.6,15557.73333
2,318310,Low_Income,Brand_7,500ML,CAN,2018,12,Retailer 1,341035.5,17051.77500
3,308802,Low_Income,Brand_7,500ML,CAN,2018,12,Retailer 1,316701.9,13769.64783
4,314705,High_Income,Brand_7,340ML,NRB,2019,12,Retailer 1,308547.6,12341.90400

In [644]:
#df_data.year.unique()

df_test = df_data.groupby('year')['month'].unique()
df_test = df_test.reset_index()
df_test

   year                                    month
0  2018                 [12, 11, 10, 6, 4, 5, 3]
1  2019  [12, 3, 9, 11, 4, 8, 10, 6, 2, 7, 5, 1]
2  2020                                [3, 1, 2]

In [626]:
df_data.columns

Index(['sap_stp', 'CLUSTER', 'Brand_ID', 'pack_size', 'pack_type', 'year',
       'month', 'regional_group', 'value', 'volume'],
      dtype='object')

In [635]:
for i in df_data.columns:
    print(len(df_data[i].unique()))

12
4
270
23
4
3
12
1
19981
27486

In [650]:
df_data.head()

df_data['CLUSTER'].value_counts()

High_Income        11851
Mid_High_Income    10912
Low_Mid_Income     10845
Low_Income         10652
Name: CLUSTER, dtype: int64